@import "./../../../styles/colors";

.button {
  background-color: #FFFFFF;
  font-weight: bold;
  color: $gray-700;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;

  &.active {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #D18000;
    color: $gray-000;
  }
}