@import "./../../styles/colors";

.details {
  .details-header {
    display: flex;
    gap: 33px;
    position: relative;
    height: 600px;
    background-color: #2d0c5e;
    color: #ffffff;
    padding: 72px 216px 61px 112px;

    > img {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 8px;
      width: 383px;
      height: 574px;
    }

    .details-header-information {
      display: flex;
      flex-direction: column;

      &__title {
        display: flex;
        flex-direction: column;
        gap: 8px;

        > h2 {
          font-size: 32px;
          line-height: 38px;
        }
      }

      &__details {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8px;

        > p {
          width: max-content;
          font-size: 18px;
          line-height: 24px;
        }
      }

      &__assessment {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 16px;

        .circle-wrap {

          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.1);

          .circle {

            .mask,
            .fill {
              width: 60px;
              height: 60px;
              position: absolute;
              border-radius: 50%;
            }

            .mask .fill {
              clip: rect(0px, 30px, 60px, 0px);
              background-color: #14FF00;
            }

             .mask {
              clip: rect(0px, 60px, 60px, 30px);
            }
            
            .full,
            .fill {
              transform: rotate(90deg);
            }
            
            
            .inside-circle {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background: rgb(20, 16, 16);
              line-height: 50px;
              text-align: center;
              margin-top: 5px;
              margin-left: 5px;
              color: #14FF00;
              position: absolute;
              z-index: 100;
              font-weight: 700;
              font-size: 16px;
            }
          }
        }
      }

      &__synopsis {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 32px;

        > h5 {
          font-size: 20px;
          line-height: 24px;
        }

        > p {
          color: $gray-300;
        }
      }

      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 33px;
        margin-top: 24px;

        .details-header-information-crew {
          display: flex;
          flex-direction: column;

          > h5 {
            font-size: 16px;
          }

          > p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .details-main {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 74px 112px;

    h3 {
      font-size: 28px;
      line-height: 32px;
      color: $gray-900;
    }

    .details-main-cast {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &__list {
        display: flex;
        gap: 16px;
        padding-bottom: 12px;
        width: 100%;
        overflow-x: auto;
      }
    }

    .details-main-trailer {
      display: flex;
      flex-direction: column;
      gap: 24px;

      > img {
        width: 907px;
        height: 510px;
      }
    }

    .details-main-recommendation {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding-bottom: 12px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .details {
    .details-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 42px;
      position: relative;
      height: max-content;
      color: #ffffff;
      padding: 34px 14px 61px 16px;
  
      > img {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 8px;
        width: 186px;
        height: 279px;
      }
  
      .details-header-information {
        display: flex;
        flex-direction: column;
  
        &__details {
          flex-direction: column;
        }
  
      }
    }
  
    .details-main {
      padding: 45px 16px;
  
      .details-main-trailer {
  
        > img {
          width: 324px;
          height: 182px;
        }
      }
  
    }
  }
}
